<h1><%= @member.name %></h1>

<div class='profile-container'>
  <div>
    <h2><%= t('.website') %></h2>
    <%= link_to @member.website_url %>
  </div>

  <div>
    <h2><%= t('.website_shortened') %></h2>
    <%= link_to @member.website_short_url %>
  </div>

  <div>
    <h2><%= t('.headings') %></h2>
    <table class='table'>
      <thead>
        <tr>
          <th><%= t('.headings') %></th>
        </tr>
      </thead>
      <tbody>
        <% @member.headings.each do |heading| %>
          <tr>
            <td><%= heading.text %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to 'Edit', edit_member_path(@member) %> |
  <%= link_to 'Back', members_path %>
</div>
